@import url('https://fonts.cdnfonts.com/css/graphik');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbody {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbody::-webkit-scrollbar {
  display: none;
}


